div.img-resize img {
    width: auto; /* เปลี่ยนเป็น auto เพื่อให้ภาพปรับขนาดตามความกว้าง */
    height: 100%; /* กำหนดความสูงเป็น 100% เพื่อให้ภาพเต็มความสูงของ div */
    display: block; /* ทำให้ภาพอยู่ตรงกลางของ div */
    margin: 0 auto; /* จัดตำแหน่งให้ภาพอยู่ตรงกลางตามแนวนอน */
}

div.img-resize {
    width: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    height: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    overflow: hidden;
    text-align: center;
}
/* page1.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #ffeeee;
  }
  
  /* Navigation styles */
  nav {
    background-color: #998ed9;
    color: #f7cb06;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:#fff ;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  /* Hero section styles */
  #home {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #home img {
    width: 200px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
  }
  
  /* About section styles */
  #aboutus {
    margin-bottom: 20px;
  }
  
  /* Contact section styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #e85581;
    color: #fff;
  }
  
